[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "thirdparty/VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = https://github.com/LunarG/VulkanMemoryAllocator
[submodule "thirdparty/shaderc"]
	path = thirdparty/shaderc
	url = https://github.com/google/shaderc
[submodule "thirdparty/stb/stb"]
	path = thirdparty/stb/stb
	url = https://github.com/nothings/stb
